@use 'variables' as v;

.header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    .nav {
        height: 56px;
        @include v.flex(space-between);
        align-items: center;
    }

    .nav-list {
        @include v.flex(space-between);
        width: 600px;
    }

    .nav-link {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
    }

    .nav-btn {
        @include v.btn;
    }
}